<app-create-user (userCreated)="reloadUserList()"></app-create-user>
<page-title title="{{ 'USER.TITLE' | translate }}" />
<div class="container-fluid">
  <div class="row">
    <div class="col-sm 12">
      <toogle-panel [contentComponent]="filterComponent"></toogle-panel>
    </div>
    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="d-flex justify-content-end gap-2 mb-2">
            <button
              class="btn btn-outline-secondary"
              type="button"
              placement="top"
              [ngbTooltip]="'WORDS.RELOAD_TABLE' | translate"
              (click)="reloadDatatable()"
            >
              <i class="fa fa-repeat"></i>
            </button>

            <button
              class="btn btn-outline-secondary"
              type="button"
              placement="top"
              [ngbTooltip]="'USER.BUTTONS.ADD_USER' | translate"
              (click)="openModal(BUTTON_ACTIONS.ADD)"
            >
              <i class="fa fa-plus"></i>
            </button>
          </div>
          <shared-ngx-datatable
            [config]="config$ | async"
            [data]="data$ | async"
            (onChangeLimit)="onChangeLimit($event)"
            (onChangePage)="onChangePage($event)"
          >
          </shared-ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #createdAt let-row="row">
  <span>{{ row.createdAt | date: FORMAT_FOR_DATES }}</span>
</ng-template>

<ng-template #statusTemplate let-row="row">
  @if (isUserLocked(row)) {
    <span class="badge bg-danger-subtle text-danger">
      <i class="ti ti-lock me-1"></i>
      {{ 'USER.TABLE.LOCKED' | translate }}
    </span>
  } @else if (row.isActive) {
    <span class="badge bg-success-subtle text-success">
      {{ 'USER.TABLE.ACTIVE' | translate }}
    </span>
  } @else {
    <span class="badge bg-secondary-subtle text-secondary">
      {{ 'USER.TABLE.INACTIVE' | translate }}
    </span>
  }
</ng-template>

<ng-template #actionsTemplate let-row="row">
  @if (isUserLocked(row)) {
    <button
      *appHasPermission="'users:write'"
      class="btn btn-outline-warning btn-xs m-1"
      placement="left"
      [ngbTooltip]="'USER.BUTTONS.UNLOCK' | translate"
      (click)="unlockUser(row)"
    >
      <i class="ti ti-lock-open"></i>
    </button>
  }
  <button
    class="btn btn-outline-secondary btn-xs m-1"
    placement="left"
    [ngbTooltip]="'USER.BUTTONS.VIEW' | translate"
    (click)="openModal(BUTTON_ACTIONS.VIEW, row)"
  >
    <i class="fa fa-eye"></i>
  </button>
  <button
    class="btn btn-outline-secondary btn-xs m-1"
    placement="left"
    [ngbTooltip]="'USER.BUTTONS.EDIT' | translate"
    (click)="openModal(BUTTON_ACTIONS.EDIT, row)"
  >
    <i class="fa fa-edit"></i>
  </button>
</ng-template>
