//
// breadcrumb.scss
//

// Breadcrumb item arrow
.breadcrumb-item {
    font-size: 13px;

    a {
        color: var(--#{$prefix}body-color);

        &:hover {
            color: var(--#{$prefix}primary);
        }
    }
    +.breadcrumb-item {
        &::before {
            font-family: "tabler-icons";
            color: #D1D5DB;
        }
    }
}