//
// reboot.scss
//

html {
    position: relative;
    min-height: 100%;
}

body {
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

::selection {
    color: $white;
    background: rgba($primary, 0.9);
}

button,
a {
    outline: none !important;
}

a {
    color: inherit;
    text-decoration: none;
}

a, button, input, select, textarea {
    font-family: inherit;
}

// Forms

label {
    font-weight: $font-weight-medium;
}

b,
strong {
    font-weight: $font-weight-semibold;
}

// border style
.border-dashed {
    --#{$prefix}border-style: dashed;
}

// Page Head
@include media-breakpoint-up(md) {
    .page-title-head {
        height: 56px;
    }
}

@include media-breakpoint-down(md) {
    .page-title-head {
        padding: $spacer 0;
    }
}

// Custom Link
.link-reset {
    color: inherit;
    transition: $transition-base;

    &:hover {
        color: var(--#{$prefix}primary);
    }
}


.page-container {
    @extend .container-fluid;
}

// Minimal scrollbar for the whole app
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #E5E7EB;
    border-radius: 50rem;

    &:hover {
        background: #9CA3AF;
    }
}
