.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollbar:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #E5E7EB;
  border-radius: 50rem;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #9CA3AF;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
