.scrollbar::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.scrollbar:hover::-webkit-scrollbar {
  opacity: 1;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(100, 100, 100, 0.5);
  border-radius: 10px;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: rgba(100, 100, 100, 0.8);
}

.scrollbar::-webkit-scrollbar-track {
  background-color: transparent;
}
