<div class="modal-header">
  <h5 class="modal-title">{{ 'USER.VIEW.CREATE_USER' | translate }}</h5>
  <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <div class="mb-3">
      <label for="username" class="form-label">{{
        'USER.VIEW.USERNAME' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        required
      />
      @if (userForm.get('username')?.invalid && userForm.get('username')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.USERNAME_REQUIRED' | translate }}
        </div>
      }
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">{{
        'USER.VIEW.EMAIL' | translate
      }}</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        required
      />
      @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.EMAIL_INVALID' | translate }}
        </div>
      }
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{
        'USER.VIEW.PASSWORD' | translate
      }}</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="firstName" class="form-label">{{
        'USER.VIEW.FIRST_NAME' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="firstName"
        formControlName="firstName"
        required
      />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">{{
        'USER.VIEW.LAST_NAME' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="lastName"
        formControlName="lastName"
        required
      />
    </div>
    <div class="mb-3">
      <label for="roleId" class="form-label">{{
        'USER.VIEW.ROLES' | translate
      }}</label>
      <select
        class="form-control"
        id="roleId"
        formControlName="roleId"
        required
      >
        @for (role of roles; track role.id) {
          <option [value]="role.id">{{ role.displayName }}</option>
        }
      </select>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ 'USER.BUTTON.CREATE' | translate }}
    </button>
  </form>
</div>
