<div class="modal-header">
  <h5 class="modal-title">Crear Usuario</h5>
  <button type="button" class="btn-close" (click)="closeModal()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="userForm" (ngSubmit)="createUser()">
    <div class="mb-3">
      <label for="username" class="form-label">{{
        'USER.VIEW.USERNAME' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="username"
        formControlName="username"
        required
      />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">{{
        'USER.VIEW.EMAIL' | translate
      }}</label>
      <input
        type="email"
        class="form-control"
        id="email"
        formControlName="email"
        required
      />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">{{
        'USER.VIEW.PASSWORD' | translate
      }}</label>
      <input
        type="password"
        class="form-control"
        id="password"
        formControlName="password"
        required
      />
    </div>
    <div class="mb-3">
      <label for="address" class="form-label">{{
        'USER.VIEW.ADDRESS' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="address"
        formControlName="address"
      />
    </div>
    <div class="mb-3">
      <label for="phone" class="form-label">{{
        'USER.VIEW.PHONE' | translate
      }}</label>
      <input
        type="text"
        class="form-control"
        id="phone"
        formControlName="phone"
      />
    </div>
    <div class="mb-3">
      <label for="roleId" class="form-label">{{
        'USER.VIEW.ROLES' | translate
      }}</label>
      <select
        class="form-control"
        id="roleId"
        formControlName="roleId"
        required
      >
        <option *ngFor="let role of roles" [value]="role._id">
          {{ role.roleName }}
        </option>
      </select>
    </div>
    <div class="mb-3">
      <label for="companyId" class="form-label">{{
        'USER.VIEW.COMPANY' | translate
      }}</label>
      <select
        class="form-control"
        id="companyId"
        formControlName="companyId"
        required
      >
        <option *ngFor="let company of companies" [value]="company._id">
          {{ company.companyName }}
        </option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">
      {{ 'USER.BUTTON.CREATE' | translate }}
    </button>
  </form>
</div>
