<div class="modal-header">
  <h5 class="modal-title">{{ 'USER.EDIT.EDIT_USER' | translate }}</h5>
  <button type="button" class="btn-close" (click)="handleClose()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="userForm" class="row g-3">
    <div class="col-md-6">
      <label for="username" class="form-label">{{
        'USER.EDIT.USERNAME' | translate
      }}</label>
      <input
        id="username"
        type="text"
        class="form-control"
        formControlName="username"
      />
      @if (userForm.get('username')?.invalid && userForm.get('username')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.USERNAME_REQUIRED' | translate }}
        </div>
      }
    </div>

    <div class="col-md-6">
      <label for="firstName" class="form-label">{{
        'USER.EDIT.FIRST_NAME' | translate
      }}</label>
      <input
        id="firstName"
        type="text"
        class="form-control"
        formControlName="firstName"
      />
      @if (userForm.get('firstName')?.invalid && userForm.get('firstName')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.FIRST_NAME_REQUIRED' | translate }}
        </div>
      }
    </div>

    <div class="col-md-6">
      <label for="lastName" class="form-label">{{
        'USER.EDIT.LAST_NAME' | translate
      }}</label>
      <input
        id="lastName"
        type="text"
        class="form-control"
        formControlName="lastName"
      />
      @if (userForm.get('lastName')?.invalid && userForm.get('lastName')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.LAST_NAME_REQUIRED' | translate }}
        </div>
      }
    </div>

    <div class="col-md-6">
      <label for="email" class="form-label">{{
        'USER.EDIT.EMAIL' | translate
      }}</label>
      <input
        id="email"
        type="email"
        class="form-control"
        formControlName="email"
      />
      @if (userForm.get('email')?.invalid && userForm.get('email')?.touched) {
        <div class="text-danger">
          {{ 'USER.VALIDATION_USER.EMAIL_INVALID' | translate }}
        </div>
      }
    </div>

    <div class="col-md-6">
      <label for="roleId" class="form-label">{{
        'USER.EDIT.ROLES' | translate
      }}</label>
      <select id="roleId" class="form-select" formControlName="roleId">
        @for (role of roles; track role.id) {
          <option [value]="role.id">{{ role.displayName }}</option>
        }
      </select>
    </div>

    <div class="col-md-6">
      <label for="isActive" class="form-label">{{
        'USER.EDIT.IS_ACTIVE' | translate
      }}</label>
      <select id="isActive" class="form-select" formControlName="isActive">
        <option [value]="true">
          {{ 'USER.BUTTON.ACTIVE_TRUE' | translate }}
        </option>
        <option [value]="false">
          {{ 'USER.BUTTON.ACTIVE_FALSE' | translate }}
        </option>
      </select>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="handleClose()">
    {{ 'USER.BUTTON.CLOSE' | translate }}
  </button>
  <button type="button" class="btn btn-primary" (click)="saveChanges()">
    {{ 'USER.BUTTON.SAVE' | translate }}
  </button>
</div>
