<div class="modal-header">
  <h5 class="modal-title">{{ 'ADMIN.EMISOR.USERS.EDIT_USER' | translate }}</h5>
  <button type="button" class="btn-close" (click)="onCancel()"></button>
</div>

<div class="modal-body">
  <form [formGroup]="userForm">
    <div class="row g-3">
      <div class="col-md-6">
        <label class="form-label">{{ 'USER.VIEW.USERNAME' | translate }} *</label>
        <input
          type="text"
          class="form-control"
          formControlName="username"
          [class.is-invalid]="f['username'].touched && f['username'].invalid"
        />
        <div *ngIf="f['username'].touched && f['username'].invalid" class="invalid-feedback">
          {{ 'USER.VALIDATION_USER.USERNAME_REQUIRED' | translate }}
        </div>
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ 'USER.VIEW.EMAIL' | translate }} *</label>
        <input
          type="email"
          class="form-control"
          formControlName="email"
          [class.is-invalid]="f['email'].touched && f['email'].invalid"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ 'WORDS.FIRST_NAME' | translate }} *</label>
        <input
          type="text"
          class="form-control"
          formControlName="firstName"
          [class.is-invalid]="f['firstName'].touched && f['firstName'].invalid"
        />
      </div>
      <div class="col-md-6">
        <label class="form-label">{{ 'WORDS.LAST_NAME' | translate }} *</label>
        <input
          type="text"
          class="form-control"
          formControlName="lastName"
          [class.is-invalid]="f['lastName'].touched && f['lastName'].invalid"
        />
      </div>
      <div class="col-12">
        <label class="form-label">{{ 'USER.VIEW.ROLES' | translate }} *</label>
        <ng-select
          formControlName="roleId"
          [items]="roles"
          bindLabel="displayName"
          bindValue="id"
          [placeholder]="'USER.VIEW.ROLES' | translate"
        ></ng-select>
      </div>
    </div>
  </form>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-outline-secondary" (click)="onCancel()">
    {{ 'USER.BUTTON.CANCEL' | translate }}
  </button>
  <button
    type="button"
    class="btn btn-primary"
    (click)="onSubmit()"
    [disabled]="isSubmitting"
  >
    @if (isSubmitting) {
      <span class="spinner-border spinner-border-sm me-1" role="status"></span>
      {{ 'WORDS.UPDATING' | translate }}
    } @else {
      {{ 'USER.BUTTON.SAVE' | translate }}
    }
  </button>
</div>
