//
// footer.scss
//

.footer {
    margin-top: auto;
    display: flex;
    align-items: center;
    padding: calc($grid-gutter-width * .75);
    color: var(--#{$prefix}secondary-color);
    font-size: 0.8125rem;
    transition: $transition-base;
    border-top: 1px solid var(--#{$prefix}border-color);
    margin: auto calc($grid-gutter-width * -0.5) 0;

    .footer-links {
        a {
            color: var(--#{$prefix}secondary-color);
            margin-left: $spacer;
            transition: all 0.15s ease;

            &:hover {
                color: var(--#{$prefix}primary);
            }

            &:first-of-type {
                margin-left: 0;
            }
        }
    }
}

// Used for account authentication pages
.footer-alt {
    border: none;
    text-align: center;
    justify-content: center;
}


html[data-layout-mode="detached"]:not([data-layout="topnav"]) {
    .footer {
        .page-container {
            max-width: 100%;
            padding: 0;
        }
    }
}